p {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
#first-paragraph {
    color: red;
    font-size: 64px;
}
#second {
    font-weight: bold;
    font-size: 46px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}